/* VARIABLES */

:root {
  --main-color: rgba(248, 204, 70, 1.000);
}

::-webkit-scrollbar {
    display: none;
}

/* FONTS */

@font-face {
    font-family: poppins-regular;
    src: url('fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: poppins-bold;
    src: url('fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: open-sans;
    src: url('fonts/open-sans-bold-Regular.ttf');
}

@font-face {
    font-family: open-sans-bold;
    src: url('fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: anon-bold;
    src: url('fonts/AnonymousPro-Bold.ttf');
}

/* ANIMATIONS */

/* declaring global things */

body {
  margin: 0;
  background-color: var(--main-color);
  background-image: url("imgs/pattern.png");
  background-repeat: repeat;
  background-blend-mode: color-burn;
}

#background-style {
  width: 100%;
  height: 100%;
  background-color: black;
}


h1,h2,h3,h4,h5,h6 {
    font-family: poppins-regular;
}

p,li,a {
    font-family: open-sans, helvetica, sans-serif;
    max-width: 40em;
    line-height: 35px;
    letter-spacing: 2.2px;
}

/* navigation */

nav {
  /* background-color: var(--main-color); */
}

nav ul {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   list-style: none;
   align-items: center;
}

nav ul > li {
  margin-right: 3em;
}

nav ul li > a {
  text-decoration: none;
  color: black;
}

nav ul > li:last-of-type {
  background-color: black;
  padding: .8em;
}

nav ul li:last-child > a {
  font-family: open-sans-bold, sans-serif;
  color: var(--main-color);
}

/* header styling */

header {
  padding-left: 2em;
}

main {
  margin: 0;
}

/* main content */

main > #intro {
  padding: 6em 0 5em 2em;
  background-color: white;
}

@media screen and (min-width: 40em) {
  main > #intro {
    -webkit-clip-path: polygon(1px 100%,100% 35em,100% 1px,0px 5em);
  }
}

@media screen and (min-width: 80em) {
  main > #intro {
    -webkit-clip-path: polygon(1px 100%,100% 35em,100% 1px,0px 5em);
  }
}


main > #impression {
  padding: 6em 0 5em 2em;
}

main #impression > div {
  margin-left: -2em;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

main #impression div article > h3 {
  display: none;
}

main #impression div article > img{
  width: 30em;
  padding-right: 2em;
  height: auto;
}

main > #match {
  padding: 6em 0 5em 2em;
  background-color: white;
}

@media screen and (min-width: 40em) {
  main > #match {
    -webkit-clip-path: polygon(1px 100%,100% 40em,100% 1px,0px 5em);
  }
}

@media screen and (min-width: 80em) {
  main > #match {
    -webkit-clip-path: polygon(1px 100%,100% 40em,100% 1px,0px 5em);
  }
}

main > #werkwijze {
  padding: 6em 0 5em 2em;
  /* background-color: var(--main-color); */
}


/* footer */
footer {
  padding: 6em 0 5em 2em;
  background-color: white;
}

@media screen and (min-width: 40em) {
  footer {
    -webkit-clip-path: polygon(1px 100%,100% 35em,100% 1px,0px 5em);
  }
}

@media screen and (min-width: 80em) {
  footer {
    -webkit-clip-path: polygon(1px 100%,100% 35em,100% 1px,0px 5em);
  }
}


/* lesprogramma */
table thead > tr {
  background-color: var(--main-color);
  font-family: open-sans, sans-serif;
}

td > a {
  text-decoration: none;
  color: black;
  padding: 1em;
}

td {
  padding: .4em;
  text-align: center;
}

td[rowspan="2"] {
  background-color: lightgrey;
}

td[colspan="8"] {
  background-color: lightgrey;
}

tr:last-of-type > td[colspan="3"] {
  background-color: lightgrey;
}

td[colspan="3"] {
  background-color: #eee;
}

td[colspan="5"] {
  background-color: orange;
}

td[colspan="2"] {
  background-color: grey;
}
