:root {
  --main-color: rgba(248, 204, 70, 1);
  --padding-sections: 6em 0 6em 4em;
  --mobile-sections: 2em;
}

/* animations */

@keyframes borderAnimation {
  from {
    border-bottom: 0px solid black;
  }
  to {
    border-bottom: 1em solid black;
  }
}

/* FONTS */

@font-face {
  font-family: poppins-regular;
  src: url("fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: poppins-bold;
  src: url("fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: open-sans;
  src: url("fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: open-sans-bold;
  src: url("fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: anon-bold;
  src: url("fonts/AnonymousPro-Bold.ttf");
}

/* buttons */

.animate {
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.action-button {
  position: relative;
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
  border-radius: 10px;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
}

.blue {
  background-color: #39393a;
  border-bottom: 5px solid #1e1e1f;
  text-shadow: 0px -2px #1e1e1f;
}

.action-button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  border-bottom: 1px solid;
}

/* actual css */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: poppins-regular;
  margin-bottom: 1em;
  margin-top: 1em;
}

p,
li,
a,
input,
label,
summary,
abbr {
  font-family: open-sans, helvetica, sans-serif;
  max-width: 40em;
  line-height: 30px;
  letter-spacing: -0.8px;
}

nav {
  position: absolute;
  right: 0;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  margin-top: 2em;
  background-position: 0px 0px;
}
nav ul li {
  padding-right: 2em;
}

nav ul li a {
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  border-bottom: 0px solid black;
}

nav ul li > a:hover {
  animation: borderAnimation 0.3s ease-in;
  animation: borderAnimation duration timing-function delay iteration-count
    direction fill-mode;
}

/* header */

header {
  height: 100vh;
  width: 100vw;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("imgs/pattern.png");
  background-blend-mode: color-burn;
  background-repeat: repeat;
}

header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

header ul > li {
  margin: 2em;
}

header ul li > a {
  padding: 0.5em 2rem;
  background-color: black;
  box-shadow: rgb(75, 75, 75) 0px 5px 0px 0px;
  border-radius: 1em;
}

header ul li > a:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

header ul li a > button {
  background-color: black;

  border: none;
  color: white;
  font-size: 1em;
}

main #impression div article > img {
  width: 30em;
  padding-right: 2em;
  height: auto;
}

#match {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#border {
  height: 20em;
  margin: 5em 2em;
  border-left: 0.5em solid black;
}

#match > div:nth-last-child() {
  outline: red solid 1px;
}

#match div:nth-child(3) details > summary {
  font-size: 1.3em;
}
