:root {
  --main-color: rgba(248, 204, 70, 1);
  --padding-sections: 6em 0 6em 4em;
  --mobile-sections: 2em;
}

/* animations */

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

/* FONTS */

@font-face {
  font-family: poppins-regular;
  src: url("fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: poppins-bold;
  src: url("fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: open-sans;
  src: url("fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: open-sans-bold;
  src: url("fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: anon-bold;
  src: url("fonts/AnonymousPro-Bold.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: poppins-regular;
  margin-bottom: 1em;
  margin-top: 1em;
}

p,
li,
a,
input,
label,
summary,
abbr {
  font-family: open-sans, helvetica, sans-serif;
  max-width: 40em;
  line-height: 30px;
  letter-spacing: -0.8px;
}

nav {
  position: absolute;
  right: 0;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  margin-top: 2em;
  background-position: 0px 0px;
  animation: animatedBackground 1s linear infinite;
}
nav ul li {
  padding-right: 2em;
}

nav ul li a {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 0.5em 1em;
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: black solid 1px;
  transition: all 1s ease-in;
}

header {
  height: 100vh;
  width: 100vw;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("imgs/pattern.png");
  background-blend-mode: color-burn;
  background-repeat: repeat;
}

header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

header ul > li {
  margin: 2em;
}

header ul li > a {
  padding: 0.5em 2rem;
  background-color: black;
  border-radius: 1em;
}

header ul li a > button {
  background-color: black;
  border: none;
  color: white;
  font-size: 1em;
}

main #impression div article > img {
  width: 30em;
  padding-right: 2em;
  height: auto;
}
